<div class="d-flex justify-content-center align-items-center vh-100 bg-dark text-white">
    <div>
        <h1>Welcome to the Color Merge</h1>
        <div class="d-flex justify-content-center align-items-center mt-4">
            <img src="logo-anim.gif" alt="Color Merge Logo" style="height: 20vh; border-radius: 8px;">
        </div>
        <div class="d-flex justify-content-center align-items-center mt-4">
            <a class="btn btn-light w-50" routerLink="/play" role="button">Play</a>
        </div>
    </div>
</div>